# PlatformIO (Hardware)
.pio/
.vscode/
*.gcc-flags.json

# Node.js (Backend & Frontend)
node_modules/
.env
npm-debug.log*

# OS & Diverse
.DS_Store
Thumbs.db
*.db
*.sqlite

# KiCad
*-backups/
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
fp-info-cache
*-cache.lib
sym-lib-table-bak
fp-lib-table-bak
*.lck
~*.lck
_autosave-*
*.autosave

# KiCad output (gerber, drill, BOM)
gerbers/
plot/
*.gbr
*.gbl
*.gbo
*.gbp
*.gbs
*.gtl
*.gto
*.gtp
*.gts
*.drl
*.xln
*.pos
*.rpt
*.net